h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(44, 127, 221);
}

h3 {
    text-align: center;
    font-size: 1.5em;
    color: rgb(50, 137, 250);
}

p {
    text-align: justify;
    font-size: 1.3em;
    color: black;
}

li {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-size: 1.3em;
}